{% extends "CustomerBundle::base.html.twig" %}

{% block content %}
<section>
    <article>
        <h1>Détails du client</h1>
    </article>    
        <li>Prenom: {{ customer.firstName }}</li>
        <li>Nom: {{ customer.lastName }}</li>
        <li>Date de naissance: {{ customer.birthday|date("m/d/Y") }}</li>
        <li>Balance: {{ customer.balance|number_format(2, ',') }}</li>
        <li>Rue:  {{ customer.address.street }}</li>
        <li>Code postal:  {{ customer.address.postalcode }}</li>
        <li>Ville:  {{ customer.address.city }}</li>
        <li><a href="{{ path('customer_update', {'id':customer.id}) }}"><button>Update</button></a></li><br><br>
        <li><a href="{{ path('customer_delete', {'id':customer.id}) }}"><button>Delete</button></a></li><br><br>
</section>
{% endblock %}